[submodule "Vendor/unity-ui-toolkit-design-system"]
	path = Vendor/unity-ui-toolkit-design-system
	url = https://github.com/sinanata/unity-ui-toolkit-design-system
[submodule "Tools/.orchestrator"]
	path = Tools/.orchestrator
	url = https://github.com/sinanata/unity-cross-platform-local-build-orchestrator.git
